# This is a PIP 6+ requirements file for using Aerobot and scripts
#
# All dependencies can be installed using:
# $ sudo pip install -r requirements.txt
#
# It is organised so that simple requirements
# are processed first, and more difficult packages
# are last.
#
# It is good practise to install packages using the system
# package manager if it has a packaged version.  If you are
# unsure, please use pip as described at the top of the file.
#
# To get a list of potential matches, use
#
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs yum search
#     or
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs apt-cache search

# mandatory dependencies, others are optional
python-dotenv>=0.19.0
pytz>=2021.1
requests>=2.26.0
discord.py>=1.7.3